.footer {
  // margin: 0 230px;
  margin-top: 30rem;

  .menu {
    display: flex;
    justify-content: space-around;
    .menu-item {
      display: flex;
      flex-direction: column;
      font-family: 'Roboto-Regular';
      font-size: 3rem;
      letter-spacing: .103px;
      line-height: 6.457rem;

      div {
        &:nth-child(1) {
          font-size: 4.2rem;
          font-family: Quotus Bold;
        }
      }
    }

    @media screen and (max-width: 1400px) {
      .menu-item {
        font-size: 2.5rem;
      }
    }
  }
  .social {
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    button {
      border: none;
      background: none;
      margin-right: .5rem;

      @media screen and (max-width:1500px) {
        img {
          height: 5rem;
        }
      }
    }
    margin-bottom: 3rem;
  }
}

.opa {
  color: red;
}

@media screen and (max-width: 1500px) {
  .footer {
    padding: 0 10rem;
  }
}
