.header {
  display: flex;
  align-items: center;
  margin-bottom: 61px;

  .menu {
    margin-left: auto;
     display: flex;

    .menu-item {

      a {
        font-size: 2.4rem;
        font-family: 'Gotham Pro Bold';
        background-image: linear-gradient(-269deg, #c77c1f 0%, #ebd49d 67%, #cf8f3a 94%, #cf8f3a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: #b9993e; 
      }

      &:first-child {
        margin-right: 55px;
      }
    }
  }
}