.header {
  background-image: url("./img/mountain_back.jpg");
  height: 108rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./img/mountain_front_big.png");
  }

  .logo-and-additional {
    display: flex;
    padding-top: 2.3rem;
    align-items: center;
    position: relative;

    .logo {
      display: table;
      margin: 0 auto;
    }

    .additional {
      position: absolute;
      top: 6rem;
      right: 9rem;
    }
  }

  .search {
    background-image: url("../../img/search.png");
    background-repeat: no-repeat;
    height: 4.8rem;
    width: 4.6rem;
    display: inline-block;
    margin-right: 6.2rem;
    background-size: cover;
  }

  .bucket {
    background-image: url("../../img/shopping-cart.png");
    display: inline-block;
    background-size: cover;
    width: 4.8rem;
    height: 4.3rem;
    background-repeat: no-repeat;
  }

  nav {
    margin: 6.3rem auto 6rem;

    .menu {
      display: flex;
      justify-content: center;

      .menu-item {
        color: $font-color;
        font-family: "Quotus Bold";
        text-transform: uppercase;
        font-size: 2.3rem;
        line-height: 4.233rem;
        letter-spacing: .414px;
        margin-right: 12rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .main-subtitle {
    font-family: "Quotus Thin";
    font-size: 3.5rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .63rem;
  }

  .main-title {
    font-family: Quotus Normal;
    font-size: 17.5rem;
    color: $white;
    line-height: 4.65rem;
    text-transform: uppercase;
    letter-spacing: .636rem;
    text-align: center;
    margin-top: 10rem;
    user-select: none;
  }

  .people {
    position: absolute;
    top: 25.3rem;
    right: 0;
    height: 100%;

    img {
      max-height: 100%;
    }
  }

  @media screen and (max-width:1500px) {
    .people {

      max-height: 90rem;
    }
  }
}