 .main {
   display: flex;

   .dream-board {
     max-width: 550px;
     margin-right: 65px;
     .create-your-board {
        background-image: url('./img/3-layers.png');
        width: 513px;
        height: 169px;
        mix-blend-mode: screen;
        margin-bottom: 70px;
     }
     .dream-description {
      font-size: 2.1rem;
      max-width: 400px;
      font-family: 'Gotham Pro Medium';
      line-height: 25.94px;
      margin-bottom: 72px;
      color: white;
      position: relative;

      .your-dream {
        font-family: 'Gotham Pro Bold';

        &::before {
          content: '';
          position: absolute;
          background-image: url('./img/star.png');
          height: 30px;
          width: 29px;
          left: -38px;
          top: -9px;
        }

        .unique {
          color: #b9993e; 
        }
      }
      .change-world {
        font-family: 'Gotham Pro Regular';
        position: relative;

        &::before {
          content: '';
          position: absolute;
          background-image: url('./img/arrow_small.png');
          height: 87px;
          width: 45px;
          background-repeat: no-repeat;
          left: -85px;
          top: 11px;
        }
      }
     }

     .dream-install-board {
      font-family: 'Gotham Pro Regular';
      font-size: 2.1rem;
      line-height: 20.83px;
      margin-bottom: 32px;

      .desc {
        color: white;
        
        &.star {
          position: relative;
          &::before {
            content: '';
            position: absolute;
            background-image: url('./img/star.png');
            height: 30px;
            width: 29px;
            left: -38px;
            top: -9px;
          }
        }      
      }

      .dream {
        font-family: 'Gotham Pro Bold';
        color: #b9993e;
        position: relative;
        
        &.star::before {
          content: '';
          position: absolute;
          background-image: url('./img/arrow_medium.png');
          height: 112px;
          width: 54px;
          bottom: -69px;
          left: -89px;
          background-repeat: no-repeat;
        }
      }
     }
     .download-dream {
        background-image: url('./img/download.png');
        background-color: transparent;
        min-width: 300px;
        height: 80px;
     }
   }

   .photo-board {
     margin-bottom: 25px;
    .photo-board-btns {
      display: flex;

      & > li {
        display: block;
        cursor: pointer;
      }

      .photo-board-btn-change-back {
        min-width: 210px;
        height: 69px;
        background-image: url('./img/change-background.png');
      }

      .photo-board-btn-paste-text {
        min-width: 210px;
        height: 69px;
        background-image: url('./img/paste-text.png');
      }
      
      .photo-board-btn-add-smile {
        min-width: 210px;
        height: 69px;
        background-image: url('./img/add-smile.png');
      }
      .photo-board-btn-bucket {
        min-width: 210px;
        height: 69px;
        background-image: url('./img/bucket.png');
      }
    }

    .photo-board-dasboard {
      min-width: 1024px;
      height: 650px;
      background-image: url('./img/photo-border.png');
      position: relative;
      padding: 50px;
      overflow: hidden;

      .modal-add-photo {
        position: absolute; /* Sit on top of the page content */
        display: none; /* Hidden by default */
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5); /* Black background with opacity */
        z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
        cursor: pointer; /* Add a pointer on hover */
      }

      .add-photo-interface {
        position: absolute;
        width: 100%; /* Full width (cover the whole page) */
        height: 100%; /* Full height (cover the whole page) */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        .download-photo {
          width: 143px;
          height: 143px;
          border-radius: 10px;
          background-color: #ffffff;
          position: absolute;
          right: 0;
          color: #000000;
          font-family: "Gotham Pro Medium";
          font-size: 12px;
          font-weight: 500;
          line-height: 20.83px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          /* Text style for "+" */
          .plus {
            font-size: 25px;
          }
        }

        .simple-photo-one, .simple-photo-two, .simple-photo-three, .simple-photo-four, .simple-photo-five {
          width: 143px;
          height: 143px;
          border-radius: 10px;
          background-image: url('http://placekitten.com/g/250/250');
          position: absolute;
          background-position: center;
          background-size: cover;
        }

        .preview-photo {
          width: 246px;
          height: 177px;
          position: absolute;
          border: 10px solid white;
          transform: rotate(-10deg);
          right: 220px;
          top: 70px;

          .photo {
            background-color: black; 
            background-size: cover; 
            background-position: center; 
            width: 100%; 
            height: 100%; 
            color: white; 
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 400;
            line-height: 21.85px;
          }
        }
      }

      

      &::before {
        content: '';
        position: absolute;
        background-image: url('./img/left-light.png');
        width: 466px;
        height: 377px;
        mix-blend-mode: color-dodge;
        bottom: -149px;
        left: -180px;
      }
      
      &::after {
        content: '';
        min-width: 80px;
        min-height: 45px;
        position: absolute;
        background-image: url('./img/Jacobs_logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        bottom: 30px;
        right: 25px;
      }

      .photo-board-dasboard-input {
        font-family: 'Gotham Pro Bold';
        color: #ffffff;
        font-size: 32px;
        font-weight: 700;
        right: -250px;
        position: relative;
        z-index: 1000;
        background-color: transparent;
        border: none;

        &::after {
          content: '';
          position: absolute;
          background-image: url('./img/right-light.png');
          width: 466px;
          height: 377px;
          mix-blend-mode: color-dodge;
          right: -229px;
          top: -170px;
        }
      }

      .photo-board-dasboard-photos {
        position: relative;
        bottom: -50px;

        &::before {
          content: '';
          position: absolute;
          background-image: url('./img/left-stars.png');
          width: 1131px;
          height: 797px;
          mix-blend-mode: screen;
          top: -184px;
          left: -72px;
        }

        & > div {
          position: absolute;
        }
        
        .health {
          right: 290px;
          top: -11px;
          width: 245px;
          height: 335px;
          border: 10px solid white;
          transform: rotate(10deg);

          .photo {
            background-color: black; 
            background-size: cover; 
            background-position: center; 
            width: 100%; 
            height: 100%; 
            color: white; 
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 400;
            line-height: 21.85px;
          }
        }

        .love {
          right: 73px;
          // z-index: 1000;
        }

        .hobbies {
          top: 300px;
          left: 138px;
          width: 389px;
          height: 172px;
          border: 10px solid white;

          .photo {
            background-color: black; 
            background-size: cover; 
            background-position: center; 
            width: 100%; 
            height: 100%; 
            color: white; 
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 400;
            line-height: 21.85px;
          }
        }

        .family {
          top: 160px;
          left: 170px;
          background: url('./img/Vector_Smart_Object_1 copy.png');
          width: 330px;
          height: 200px;
          position: absolute;
          // z-index: 1000000;
          overflow: hidden;
          background-repeat: no-repeat;
        }

        .travel {
          top: 257px;
          // z-index: 1000;
          right: 32px;

          .photo {
            background-color: black; 
            background-size: cover; 
            background-position: center; 
            width: 100%; 
            height: 100%; 
            color: white; 
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 400;
            line-height: 21.85px;
          }
        }

        .love {
          right: 76px;
          width: 282px;
          height: 206px;
          border: 10px solid white;
          transform: rotate(-7deg);

          .photo {
            background-color: black; 
            background-size: cover; 
            background-position: center; 
            width: 100%; 
            height: 100%; 
            color: white; 
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 400;
            line-height: 21.85px;
          }
        }

        .money {
          left: 85px;
          border: 10px solid white;
          width: 363px;
          height: 237px;
          transform: rotate(-7deg);

          .photo {
            background-color: black; 
            background-size: cover; 
            background-position: center; 
            width: 100%; 
            height: 100%; 
            color: white; 
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-family: "Gotham Pro Medium";
            font-size: 26px;
            font-weight: 400;
            line-height: 21.85px;
          }
        }
      }
    }
   }
 }