.main {
  position: relative;
  @mixin title($font) {
    font-family: 'Quotus Thin';
    font-size: $font;
    font-weight: bold;
    text-transform: uppercase;
  }
  @mixin subtitle() {
    font-family: 'Roboto-Regular';
    font-size: 2.4rem;
    line-height: 4.233rem;
    letter-spacing: 0.048rem;
    max-width: 83rem;
    text-align: center;
  }
  @mixin round-button($font) {
    border-radius: 4rem;
    box-shadow: 0 .4rem .5rem .1rem rgba(0, 0, 0, 0.2);
    background-color: $link;
    padding: 3rem 8rem;
    font-size: $font;
    color: white;

    @media (max-width: 1500px) {
      padding: 2rem 7rem;
    }
  }
  @mixin parentCard() {
    display: flex;
    width: 100%;
  }
  @mixin childrenCard() {
    font-family: 'Roboto-Medium';
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.603rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 3rem;
    height: 57rem;
    justify-content: space-around;
    div {
      height: 45rem;

      img {
        height: 100%;
      }
    }
    p {
      width: 32rem;
    }
    div.flex {
      span {
        font-size: 2rem;
        font-family: 'Roboto-Bold';
        margin-right: 2rem;
      }
    }
  }
  .store {
    max-width: 72rem;
    margin-left: 23rem;

    .store-title {
      font-family: 'Quotus Normal';
      font-size: 8rem;
      line-height: 3.44rem;
      letter-spacing: .196rem;
    }
    .sub-title {
      font-size: 8rem;
      line-height: 4.527rem;
      text-transform: uppercase;
      letter-spacing: .15rem;
      font-family: Quotus Thin;
    }
    .store-content {
      color: #272626;
      font-family: 'Roboto-Light';
      font-size: 2.1rem;
      line-height: 4.233rem;
      letter-spacing: .042rem;
      margin-top: 6rem;
    }
    .link-view-all {
      margin-top: 6rem;
      display: inline-block;
      box-shadow: 0 .4rem .5rem .1rem rgba(0, 0, 0, 0.2);
      border-radius: 4rem;
      background-color: $link;
      padding: 3rem 8rem;
      color: $white;
      line-height: 2.889rem;
      text-transform: uppercase;
      font-size: 3.1rem;
      font-family: 'Roboto-Bold';
    }

    @media screen and (max-width:1500px) {
      .link-view-all {
        padding: 2rem 7rem;
      }
    }
  }
  .arrivals {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title-arrivals {
      font-family: 'Quotus Thin';
      font-size: 6.8rem;
      font-weight: bold;
      line-height: 4.618rem;
      text-transform: uppercase;
      letter-spacing: .124rem;
    }
    .subtitle-arrivals {
      font-family: 'Roboto-Regular';
      font-size: 2.4rem;
      line-height: 4.233rem;
      letter-spacing: .048rem;
      max-width: 83rem;
      text-align: center;
    }
    .arrivals-content {
      margin-top: 5.4rem;
      text-align: center;
      input[type='radio'] {
        display: none;
      }
      label {
        font-family: 'Roboto-Regular';
        font-size: 3.2rem;
        line-height: 4.233rem;
        letter-spacing: .064rem;
        color: $link;
        cursor: pointer;
        user-select: none;
        &.popular {
          margin-right: 20rem;
        }
      }
      .merchandise-one {
        margin-top: 5.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;
        grid-row-gap: 5rem;
        grid-column-gap: 10rem;
        align-items: center;
        // @include row-flex();
        // @include md(justify-content, space-betwen);
        .merchandise-one-item {
          font-family: 'Roboto-Medium';
          text-align: center;
          font-size: 1.4rem;
          line-height: 2.603rem;
          // @include col();
          // @include size(4);
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          height: 57rem;
          justify-content: space-around;
          .merchandise-one-item-image {
            height: 45rem;

            img {
              max-width: none;
              max-height: 100%;
            }
          }
          .merchandise-one-item-description {
            width: 32rem;
          }
          div.flex {
            span {
              font-size: 2rem;
              font-family: 'Roboto-Bold';
              margin-right: 2rem;
            }
          }
        }
        .flex {
          display: flex;
        }
      }

      @media screen and (max-width: 1700px) {
        .merchandise-one {
          grid-template-columns: 1fr 1fr;
          padding: 10px;

          .merchandise-one-item {
            img {
              max-width: 100%;
              max-height: auto;
            }
          }
        }
      }

      @media screen and (max-width: 1350px) {
        .merchandise-one {
          // grid-template-columns: 1fr;

          .merchandise-one-item {
            img {
              // max-width: 100% !important;
              // max-height: auto;
            }
          }


        }
      }
    }
    .camps-title {
      @include title(6rem);
    }
    .camps-subtitle {
      @include subtitle();
      margin-bottom: 5.4rem;
    }
    input[type="radio"] {
      display: none;
    }
    label {
      font-family: 'Roboto-Regular';
      font-size: 3.2rem;
      line-height: 4.233rem;
      letter-spacing: .064rem;
      color: $link;
      cursor: pointer;
      user-select: none;
      &.popular {
        margin-right: 20rem;
      }
    }
    .camps-content {
      display: flex;
      width: 100%;
      margin-top: 13rem;
      flex-wrap: wrap;
      justify-content: space-around;

      .camps-conten-item {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        font-family: 'Roboto-Medium';
        text-align: center;
        font-size: 1.4rem;
        line-height: 2.603rem;
        justify-content: space-between;
        padding: 1.5rem;
        max-width: 41.5rem;

        .camps-conten-item-image {
          height: 25rem;
        }
        .merchandise-one-item-description {
          max-width: 30rem;
        }
        div.flex {
          display: flex;
          span {
            font-size: 2rem;
            font-family: 'Roboto-Bold';
            margin-right: 2rem;
          }
        }
      }
    }
    .round-link {
      @include round-button(2.603rem);
      margin-top: 5rem;
      font-family: 'Roboto-Medium';
    }
  }
  .camera-title {
    @include title(6.2rem);
    margin-top: 13rem;
  }
  .camera-subtitle {
    @include subtitle();
  }
  .camera-content {
    @include parentCard();
    margin-top: 13rem;
    justify-content: space-around;
    flex-wrap: wrap;

    .camera-content-item {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      font-family: 'Roboto-Medium';
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.603rem;
      justify-content: space-between;
      max-width: 32.5rem;
      padding: 1.5rem;

      .camera-content-item-image {
        height: 58rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .camera-content-item-description {
        max-width: 30rem;
        height: 10%;
        margin-bottom: 1rem;
      }
      div.flex {
        display: flex;
        span {
          font-size: 2rem;
          font-family: 'Roboto-Bold';
          margin-right: 2rem;
        }
      }
    }
  }
  .lens-title {
    @include title(6.2rem);
    margin-top: 13rem;
  }
  .lens-subtitle {
    @include subtitle();
  }
  .lens-content {
    @include parentCard();
    margin-top: 13rem;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    .lens-content-item {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      font-family: 'Roboto-Medium';
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.603rem;
      justify-content: flex-end;
      max-width: 51.5rem;
      padding: 1.5rem;
      margin-bottom: 5rem;

      .lens-content-image {
        margin-bottom: 6rem;
      }
      .lens-content-description {
      }
      div.flex {
        display: flex;
        span {
          font-size: 2rem;
          font-family: 'Roboto-Bold';
          margin-right: 2rem;
        }
      }
      &:nth-child(3) {
        max-width: 90rem;
        width: auto;
        .desc-w-100 {
          width: 100%;
        }
      }
    }
  }
}

.container {
  background-image: url('./img/Back.png');
}

.subscription {
  background-image: url('./img/mountaing image.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120rem;

  @media (min-width: 1990px) {
    height: 100vh;
  }
  .feature {
    padding: 48.5rem 23rem;

    .feature-title {
      font-family: 'Quotus Bold';
      color: white;
      line-height: 3.348rem;
      font-size: 5.5rem;
    }
    .feature-subtitle {
      font-family: 'Quotus Thin';
      font-size: 5.1rem;
      font-weight: bold;
      line-height: 3.348rem;
      text-transform: uppercase;
      color: white;
    }
    .feature-description {
      font-family: 'Roboto-Medium';
      font-size: 1.7rem;
      color: white;
      line-height: 3.033rem;
      margin-top: 6rem;
      max-width: 64rem;
    }
    form.flex {
      display: flex;
      margin-top: 5rem;

      input {
        border-radius: 4rem;
        padding: 3rem 8rem;
        background: white;
        border: none;
        margin-right: 3rem;
        font-family: 'Roboto-Medium';
        color: gray;
        font-size: 2rem;
      }

      @media screen and (max-width:1500px) {
        input {
          padding: 1rem 8rem;
          font-size: 1.8rem;
        }
      }
      button {
        padding: 3rem 8rem;
        background: $link;
        border: none;
        border-radius: 4rem;
        color: white;
        font-family: 'Roboto-Medium';
        font-size: 2.5rem;
        padding: 1.5rem 6rem;
      }

      @media screen and (max-width:1500px) {
        button {
          font-size: 2rem;
        }
      }
    }
  }
}
