// @media (max-width: 1300px) {
//   html {
//     font-size: 8px;
//   }
//   .main {
//     .lens-content {
//       .lens-content-item {
//         &:nth-child(3) {
//           max-width: 600px;
//         }
//       }
//     }
//   }
//   .main .arrivals .arrivals-content .merchandise-one {
//     grid-template-columns: 1fr 1fr;
//   }
//   .cont {
//     width: auto;
//   }
//   .subscription .feature {
//     padding: 47rem 15rem;
//   }
//   .header .people {
//     top: 600px;
//   }
// }