@font-face {
  font-family: 'Gotham Pro Medium';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/GothaProMed.otf') format('truetype');
}

@font-face {
  font-family: 'Gotham Pro Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/GothaProBol.otf') format('truetype');
}

@font-face {
  font-family: 'Gotham Pro Regular';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/GothaProReg.otf') format('truetype');
}

html {
  font-size: 10px;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  // color: $main-font-color;
  color: linear-gradient(-269deg, #c77c1f 0%, #ebd49d 67%, #cf8f3a 94%, #cf8f3a 100%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  // color: $font-color;
}

body {
  width: 100%;
  background-image: url('./img/background.png');
  background-repeat: no-repeat;
  background-position: 51% 56%;
  background-origin: content-box;
  overflow-x: hidden;
}

.container {
  max-width: 1500px;
  margin: auto;
  height: 100%;
  padding-top: 47px;
  margin-bottom: 166px;
}

button {
  border: none;
}

textarea:focus, button:focus,  input:focus{
  outline: none;
}

.emoji-wysiwyg-editor {
  display: none;
}

.emoji-picker-icon, .emoji-picker {
  display: none !important;
}