@font-face {
  font-family: 'Gotham Pro Medium';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/GothaProMed.otf') format('truetype');
}

@font-face {
  font-family: 'Gotham Pro Bold';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/GothaProBol.otf') format('truetype');
}

@font-face {
  font-family: 'Gotham Pro Regular';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/GothaProReg.otf') format('truetype');
}

html {
  font-size: 10px;
}

a,
button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  // color: $main-font-color;
  color: linear-gradient(-269deg, #c77c1f 0%, #ebd49d 67%, #cf8f3a 94%, #cf8f3a 100%);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100%;
  background: rgb(29,133,57);
  background: radial-gradient(circle, rgba(29,133,57,1) 0%, rgba(0,43,8,1) 80%);
}

@media screen and (max-width: 1300px) {
  body {
    background-position: 51% 59%;
  }
}

@media only screen and  (min-widtH: 1000px) and (max-width: 1100px) {
  body {
    background-position: 51% 59%;
  }
}

.cont {
  width: 100%;
  height: 100%;
  padding: 50px 0 0;
  min-height: 100vh;
  @media screen and (max-width: 1230px){
    padding: 0;
  }
}


textarea:focus, button:focus,  input:focus{
  outline: none !important;
}

.emoji-wysiwyg-editor {
  display: none;
}

.emoji-picker-icon, .emoji-picker {
  display: none !important;
}