@font-face {
  font-family: 'Quotus Bold';
  font-weight: bold;
  font-style: normal;
  src: url('./fonts/Quotus-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quotus Normal';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Quotus-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Quotus Thin';
  font-weight: 400;
  font-style: normal;
  src: url('./fonts/Quotus-Thin.ttf') format('truetype');
}


/* latin */

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');
}


/* latin */

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
}


/* latin */

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');
}


/* latin */

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');
}

html {
  font-size: 10px;
}

@media screen and (max-width: 1400px) {
  html {
    font-size: 9px;
  }
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $font-color;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  color: $font-color;
}

body {
  width: 100%;
}

.cont {
  width: 134rem;
  margin: 0 auto;
}

@media screen and (max-width: 1500px) {
  .cont {
    width: auto;
  }
}
